=link_to 'Çıkış', destroy_user_session_path, :method => :delete
hr
=link_to 'Profile', user_path(current_user)
=current_user.profile.inspect
br
=image_tag(current_user.profile.picture) if current_user.profile.picture
